
:root {
  /* set light and dark color palette */

  /* page background */
  --col-light-page-background: #dbdbdb;
  --col-dark-page-background: #282828;

  /* text colors */
  --col-light-text-1: #181818;
  --col-light-text-2: rgba(60, 60, 60, 0.66);
  --col-dark-text-1: #ffffff;
  --col-dark-text-2: rgba(235, 235, 235, 0.64);

  /* navbar */
  --col-light-navbar: #ffffff;
  --col-light-navbar-dropdown-highlight: #f1f1f1;
  --col-dark-navbar: #313131;
  --col-dark-navbar-dropdown-highlight: #262626;
}

:root {
  /* set light colors */
  --color-background: var(--col-light-page-background);
  --color-heading: var(--col-light-text-1);
  --color-text: var(--col-light-text-1);
  --color-navbar: var(--col-light-navbar);
  --color-navbar-dropdown-highlight: var(--col-light-navbar-dropdown-highlight);

  /* set theme independent variables */
  --color-accent: #00b9f2;
  --color-accent-soft: #00a2d5;
  --color-accent-mute: #006681;

  --transition-duration: 0.5s;
}


@media (prefers-color-scheme: dark) {
  :root {
    /* set dark colors */
    --color-background: var(--col-dark-page-background);
    --color-heading: var(--col-dark-text-1);
    --color-text: var(--col-dark-text-2);
    --color-navbar: var(--col-dark-navbar);
    --color-navbar-dropdown-highlight: var(--col-dark-navbar-dropdown-highlight);
  }
}
