@import './base.css';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: var(--color-text);
    position: relative;
    min-height: 100vh;
    background: var(--color-background);
    transition: color var(--transition-duration), background-color var(--transition-duration);
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    padding-bottom: 4rem;
    margin: 0 auto;
}

a {
    color: var(--color-accent-soft);
}

a:hover, a:focus {
    transition: color var(--transition-duration);
    color: var(--color-accent);
}

a:active {
    color: var(--color-accent-mute);
}
